@import "reset";
@import "mixin";
   header{
     height: 88px;
     position: relative;
   }
   #header_img{
    width: 230px;
    height: 35px;
    // background-color: red;
    position: absolute;
    left: 205px;
    top: 30px;
}
#header_img img{
    width: 100%;
    height: 100%;
}
#main{
    height: 600px;
    width: 100%;
    background-color: #8A0309;
    display: flex;
    justify-content: center;
}
#main_bg{
    width: 1190px;
    height: 600px;
    background-image: url("../images/login1.jpg");
    background-size: 100% 100%;
    position: relative;
}
#main_login{
    width: 350px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    right: 70px;
    top: 100px;
}
#main_lo{
    position: absolute;
    width: 160px;
    height: 58px;
    right: 0px;
}
#main_lo img{
    width: 100%;
    height: 100%;
}
#main_min{
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-left: 25px;
    // background-color: sandybrown;
    //  display: flex;
}
#main_header{
     display: flex;
     justify-content: left;
     padding: 8px;
}
#main_header h2{
    font-size: 17px;
    font-weight: bold;
    margin: 6px;
}
#main_header h2:hover{
    color: red
}
#main_main{
    display: flex;
    flex-flow: column;
    // align-items: center;
}
#main_main input{
    margin: 6px 0px;
    width: 290px;
    height: 40px;
    text-indent: 16%
}
#main_input1{
      margin: 5px;
    // overflow: hidden;
    position: relative;
}
#main_input2{
margin: 5px;
    // overflow: hidden;
    position: relative;
}
#main_input1 .iconfont{
    position: absolute;
    left: 2px;
    top: 8px;
    width: 43px;
    height: 42px;
    font-size: 42px;
    // background-color:#cccccc;
    // color: #fff;
}
#main_input2 .iconfont{
    position: absolute;
    left: 8px;
    top: 13px;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
#btn1{
    margin: 15px 0px;
    width: 299px;
    height: 40px;
    // text-indent: 16%
    position: relative;
    left: 4px;
    background-color:#FF0036;
    border:none;
    border-radius:6px ;
    font-size: 18px;
    color: white;
}
#footer {
    float:right;
}
#footer i {
    // float:right;
    margin: 2px 0;
}
#footer i:hover a {
    // float:right;
    margin: 2px 0;
    color: red;
}
#footer i a{
    color: #999999;
   text-decoration: none;
   font-size: 14px;
}

#page-bottom {
    margin: 60px 0 0;
    height: 200px;
    /* background: red; */
    position: relative;
    margin: 60px auto 0;
    padding: 7px 0 9px;
    border-top: 1px solid #ddd;
    width: 1200px;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}
#page-bottom a{
    color:rgb(110,110,110)
}
#page-bottom b{
    color:rgb(226,226,226);
}
#page-bottom span,i,em{
    color:rgb(160,160,160);
}
// #page-bottom a{
//     margin: 5px;
// }