@import "reset";
@import "mixin";
#name{
    ul {
        width: 800px;
        height: 42px;
        margin: 20px auto;
        border-bottom: 2px solid #999;
        }
    li{
        list-style: none;
        float: left;
        margin-left: 45px;
        display: block;
        padding: 0 5px 0;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-top: 3px;
        text-decoration: none;
        opacity: 0.5;
        font-weight: bold;
    }

    ul li:nth-child(1){
        margin-top: 0px;
        height: 42px;
        opacity: 1;
        border-bottom: 2px solid red;
    }
    ul li:nth-child(1) i{
       background-color: red;
    }
    ul li i{
        display: inline-block;
        width:30px;
        height: 30px;
        line-height: 30px;
        font-style:normal;
        border-radius: 30px;;
        background-color: #999999;
    }
}
#main{
     width:700px;
     height: 200px;
     margin: 130px 480px;
     display: flex;
     flex-direction: column;
    //  align-items: center;
    //  justify-content: space-around;
     span{
         color: #999999;
         font-size: 17px;
         margin: 0 8px;
     }
     input{
         width: 210px;
         height: 27px;
        //  margin: 0 5px;
     }
     aside{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin: 5px;
       #input_value{
           display: none;
           margin: 0 0 0 5px;;
       } 
       
     }
     #main1{
           select{
               margin: 0 1px 0 7px;
           }
     }
     #main2{
         margin-top: 25px;
     }
}
 #slider{
      width: 300px;
      height: 32px;
      border: 1px solid black;
      position: relative;
    }
    #block{
      width: 30px;
      height: 32px;;
      background-color:#999;
      position: absolute;
      left: -1px;
    }


    #full{
      width: 0px;
      height: 32px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color:#7AC23C;
    }
#btn{
    position: absolute;
    top: 350px;
    left:600px;
    width: 180px;
    height: 35px;
    background-color: #cccccc;
    color:#eee;
    border:none;
    font-size: 17px;
    border-radius: 5px;
    a{
        text-decoration: none;
        color:black;
    }
}